@import '../../master/01-settings/colors';

$white: $white;
$black: $registration-black;
$evoke-grey: $cadet;
$evoke-green: $lime;
$blue: $blue;
$brown: $ginger;
$red: $red-brown;
$grey-light: $pastel-gray;
$grey-dark: $arsenic;
$orange: $vivid-gamboge;
$yellow: $maximum-yellow;

$warning: $yellow;
$error: $red;

// COLOUR SCHEME
// gunmetal
// vivid-gamboge
// pastel-gray
// floral-white
// red-brown
// arsenic
// white