@import '../../master/01-settings/colors';

$white: $white;
$black: $registration-black;
$evoke-grey: $cadet;
$evoke-green: $lime;
$blue: $blue;
$brown: $ginger;
$red: $red-brown;
$grey: $pastel-gray;
$orange: $coral;
$yellow: $maximum-yellow;

$warning: $yellow;
$error: $red;

// COLOUR SCHEME
// gunmetal
// coral
// pastel-gray
// floral-white
// red-brown