@import '../../master/01-settings/colors';

$white: $white;
$black: $registration-black;
$evoke-grey: $cadet;
$evoke-green: $lime;
$blue: $blue;
$brown: $ginger;
$red: $maximum-red;
$grey: $spanish-gray;

$warning: $maximum-yellow;
$error: $maximum-red;
