@import '../../master/01-settings/typography';

$font-family: $open-sans;
$font-color: $black;
$gloria-hallelujah: 'Gloria Hallelujah',
cursive;

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: $grey-light;
    font-size: 1.25rem;
}

h2 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

p {
    line-height: 1.875rem;
}

a {
    color: $red-brown;

    &:link {
        color: $red-brown;
    }

    &:visited,
    &:active {
        color: $orange;
    }

    &:hover {
        color: $grey-light;
    }
}

@media only screen and (min-width: 60rem) {
    h1 {
        font-size: 1.5rem;
    }
}