.gallery {
    &__section {
        display: flex;
        flex-direction: column;
    }

    &__link {
        align-self: center;
    }

    &__image {
        width: 100%;
        max-width: 50rem;
    }
}
