.navigation {
    position: absolute;
    top: 0;
    right: 0;
    flex: 1;
    width: 15.625rem;
    display: flex;
    flex-direction: column;

    &__icon-wrapper {
        height: 4.1875rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: .6rem;
    }

    &__icon {
        fill: $white;
        width: 1.875rem;
        height: 1.875rem;
        cursor: pointer;
    }

    &__box {
        background-color: $black;
        text-transform: capitalize;
        display: none;

        &--show {
            display: block;
        }
    }

    &__list {
        margin-top: .4375rem;
        margin-bottom: 0;
        padding-bottom: .4375rem;
        padding-left: 1rem;
        padding-right: 1rem;
        list-style: none;
    }

    &__link {
        text-transform: capitalize;
        cursor: pointer;
        color: $blue;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 60rem) {
    .navigation {
        background-color: $grey;
        position: static;
        max-width: 15.625rem;

        &__icon-wrapper {
            display: none;
        }

        &__box {
            background-color: transparent;
            display: block;
            position: static;
        }
    }
}
