.card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 50rem;
    box-sizing: border-box;

    &__image {
        align-self: center;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
    }
}
