.card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1.25rem;
    padding: 1.25rem;

    &__image {
        align-self: center;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
    }
}
