.navigation {
    position: absolute;
    top: 1.125rem;
    right: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 13.4375rem;
    color: $white;

    &__icon {
        fill: $white;
        width: 1.875rem;
        height: 1.875rem;
        align-self: flex-end;
        position: absolute;
        right: .375rem;
        cursor: pointer;
    }

    &__box {
        background-color: $black;
        text-transform: capitalize;
        display: none;

        &--show {
            display: block;
        }
    }

    &__list {
        margin-top: .4375rem;
        margin-bottom: 0;
        padding-bottom: .4375rem;
        padding-left: 1rem;
        padding-right: 1rem;
        list-style: none;
    }

    &__link {
        text-transform: capitalize;
        cursor: pointer;
    }
}

@media only screen and (min-width: 60rem) {
    .navigation {
        background-color: $grey;
        position: static;
        color: $blue;

        &__icon {
            display: none;
        }

        &__box {
            background-color: transparent;
            display: block;
        }
    }
}
