$white: #fff;
$registration-black: #000;
$cadet: #5e6673;
$lime: #00eb00;
$tea-green: #3a9ad9;
$maximum-red: #d92026;
$ginger: #a66700;
$white-smoke: #f5f5f5;
$maximum-yellow: #fdf93e;
$spanish-gray: #999;
$blue: #0000ee;
