@import '../../master/01-settings/colors';

$white: $white;
$black: $registration-black;
$evoke-grey: $cadet;
$evoke-green: $lime;
$blue: $tea-green;
$brown: $ginger;
$red: $maximum-red;
$grey: $white-smoke;

$warning: $maximum-yellow;
$error: $maximum-red;
